body {
  background-color: #f56464;
  height: 100vh;
}

.nice-underline {
  /* text-decoration: underline; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);

  font-size: 20px;

  width: 80%;
  margin: auto;
  font-weight: 300;
}

h1,
p {
  color: #ffffff;
  font-weight: 300;
}

h1 {
  font-size: 60px;
  font-weight: 300;
}

.button {
  color: white;
  background-color: #f56464;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 32px 15px 32px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  border-width: thin;
  /* border: white; */
}

.input-styling {
  padding: 8px 5px 12px 5px;
  font-size: 25px;
  margin-right: 5px;
}

.add-todo-list-text {
  font-size: 30px;
}

.move-to-end {
  font-size: 20px;
}

.todo-list {
  /* background: #e8e8e8; */
  margin-top: 20px;
  background: none;
  border-radius: 4px;
  /* max-width: 400px; */
  max-width: 100%;
  padding: 5px;
}

.todo {
  align-items: center;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 30px 10px;
  font-size: 30px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.app-2 {
  /* background: #209cee; */
  /* height: 15vh; */
  padding: 20px;
}

.todo-list-2 {
  /* background: #e8e8e8; */
  border-radius: 4px;
  max-width: 800px;
  padding: 0px;
  /* line-height: 40%; */
  /* display: flex;
  flex-direction: column; */
}

.todo-2 {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 14px;
  padding: 15px 10px 15px 10px;
}

.text-sizing {
  font-size: 30px;
  color: #ffffff;
}

/* .try-out {
  display: inline;
} */
/* .try-out-2 {
  background: green;
  border-color: red;
} */

.no-display {
  display: none;
}

.bin-movement {
  margin-right: 20px;
}

.edit-movement {
  margin-right: 20px;
}

.complete-movement {
  margin-right: 80px;
}

/* .spacing-element {
  margin-right: 470px;
} */

.submit-edit {
  margin-right: 300px;
  margin-top: 0px;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.try-out {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
